@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ol>
    <li>Kopi Luwak – $160/pound.</li>
    <li>Saint Helena Coffee – $79/pound.</li>
    <li>Jamaican Blue Mountain Coffee – More than $50/pound.</li>
    <li>Fazenda Santa Ines – $50/pound.</li>
    <li>Starbucks Quadriginoctuple Frap – $47.30/cup.</li>
    <li>Los Planes Coffee – $40/pound.</li>
    <li>Hawaiian Kona Coffee – $34/pound.</li>
</ol>
