        <h3>Please fill in the form to register!</h3>

        <form action="Summary" method="post">

            First Name: <input type="text" name="Firstname" /> <br>
            <br />
            Last Name: <input type="text" name="Lastname" /> <br />
            <br />
            Email: <input type="email" name="Email" /><br />
            <br />
            Password: <input type="password" name="Password" /> <br />
            <br />
            Phone Number: <input type="tel" name="Phone" /><br />

            <input type="submit" value="Registration" />

        </form>
